.leave-software-heading{
   font-weight: 500;
   font-size: 27px;
   font-family: Poppins,sans-serif;
}
.leave-software-para{
    font-size: 16px;
    font-family: Poppins,sans-serif;
    letter-spacing: 0.5px;
    word-spacing: 0.9px;
    line-height: 2rem;
}
.intrupted h4{
    font-size: 14px;
    font-weight: 600;
}
.intrupted p{
    font-size: 12px;
    font-family: Poppins,sans-serif;
    font-weight: 500;
} 
  .list-color li{
    font-size: 14px;
  }
  /*dream modal*/

  .dreamcard-para{ 
    letter-spacing: 1.0px;
    word-spacing: 1.5px;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    line-height: 1.8;
    font-family: Poppins,sans-serif;
  }
  .dreamcard-heading{
    font-size: 15px;
    font-weight: 600;
  }
  .dreamcard-list li{
    line-height: 2em;
    font-size: 14px;
    text-rendering: optimizeLegibility;
    letter-spacing: 1.0px;
    word-spacing: 1.5px;
    text-rendering: optimizeLegibility;
  }
  .border-none:hover{
    /* border-style: none; */
  }
  .dream-section{
    background-color: rgb(245 245 245);
  }


  /*Accomplish Result*/

  .acc-content {
    display: block; 
} 
.acc-change-content{
    display: none;
}
.brand-card:hover .acc-content {
    display: none;
}
.brand-card:hover .acc-change-content{
    display: block;
}
.brand-card { 
    box-shadow: 0px 0px 5px 0px rgb(164, 185, 185); 
    
}
.brand-card:hover {
    background-color: rgb(3, 45, 226);
    color: #FFF; 
    /* translate: 0px 0px 0px 50px; */
    /* translate: 0px -1px; */
    /* transition: 2s;  */
    /* transform: scale(1.1);  */
    /* transition: 1s;   */
    /* padding: 20px; */
}
.acc-img-block{ 
    width: 120px;
    height: 90px; 
}
.acc-title{
  font-size: 16px !important;
}
