/* .diverse-first{
    padding-bottom: 110px;
    padding-top: 170px;
    background: url("C:\Users\hp\Desktop\Ample project\amplework\src\assets\Group 13516.png") left top no-repeat, url("C:\Users\hp\Desktop\Ample project\amplework\src\assets\Group 13516.png") right bottom no-repeat, url('') left top repeat;
    background-size: 22%;
}
.diverse-heading{
    font-family: sans-serif;
    font-size: 23px;
}
.diverse-para{
    font-family: sans-serif;
    font-size: 13px;
    word-spacing: 1px;
    letter-spacing: 1px;
    opacity: 0.7;
}
li{
    font-size: 12px;
}
.card-img{
    background-color: rgb(87, 87, 196);
    border: none;
}
.card-img1{
    background-color:rgb(184 147 9);
    border: none;
} 
.card-img3{
    background-color: rgb(0 132 92);
    border: none;
}
.card-img2{
    border: none;
    background-color: rgb(124 8 185);
}  */