section{
    padding: 40px 0px ;
}


/*Profound enterprise Mobility*/
.profound-heading{
    font-size: 13px;
    letter-spacing: 3px;
    font-weight: 700;
   color: #032de2!important;   
}
.profound-text{
    font-size: 25px;
    line-height: 1.4;
    font-weight: 600;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; 
}
.profound-para{
    word-spacing: 0.5rem;
    letter-spacing: 0.1rem;
    margin-bottom: 10px!important;
    font-family: Poppins,sans-serif;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em; 
}
/*Reason Ampele*/
.reason-ample h1{
font-weight: 600; 
} 
.fff{
    border-bottom: 1px solid rgb(97 152 238);
    border-right: 1px solid rgb(97 152 238);
    border-left: 1px solid rgb(97 152 238);

}
.ffff{
    border-top: 1px solid rgb(97 152 238);
    border-right: 1px solid rgb(97 152 238);
    border-left: 1px solid rgb(97 152 238);
}
/*enterprise mobility*/ 
.inovate-first{
background-color:rgb(245 164 3);
border-radius: 10px;
}
.inovate-second{
    background-color: rgb(40 167 69);
    border-radius: 10px;
}
.inovate-third{
    background-color: rgb(0 152 249);
    border-radius: 10px;
}
.inovate-four{
    background-color:rgb(141 0 168);
    border-radius: 10px;
}
.inovate-five{
    background-color:rgb(255 0 128);
    border-radius: 10px;
}
.inovate-para{
    font-size: 14px;
    margin-top: 12px;
}  
.brand-app-para{
    word-spacing: 1px;
    letter-spacing: 0.5px; 
    margin-bottom: 10px!important;
    font-family: Poppins,sans-serif;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;  
} 


/*Engagement Modal section*/
.list-style{
    list-style: none;
} 
.price{
    border-bottom: 3px solid rgb(0 128 255);
}
.price2{
    border-bottom: 3px solid white;
}
.hire-mobility{
    border-bottom: 3px solid rgb(10 165 155);
    color: #032de2;
    font-weight: 600;
    font-size: 25px;
    line-height: 1.4;
}
.hire-mobility-para{
    font-size: 15px; 
    padding: 0 0 20px;
    margin-bottom: 0!important;
}  
.engagement-btn{
    background-color:rgb(7 49 190);
}
.engagement-para{
    font-size: 14px;
    line-height:2;
}
/**ROI */
.notched-card{ 
    background:white;
    position: relative; 
    box-shadow: 0px 0px 3px 0px;
    font-family: Poppins,sans-serif;
}
.heading{
   color: black; 
}
.notched-card:after {
    content: '';
    position: absolute; 
    top: 0;
    right: 0;
    border-top: 50px solid rgb(200 222 255);
    border-left: 50px solid white; 
  }  
   .rio-heading::after{ 
    content: '';
    margin-top: 3px;
    display: block;
    width: 0;
    height: 3px;
    background: rgb(0, 152, 249);
    transition: width 1s;
   }
   .rio-heading:hover::after{
    width: 35%;
    color: rgb(29 115 248);
   }

  .notched-card:hover::after{
    background-color: red;
  }
  .notched-card :hover .heading{
    color: blue; 
  } 
  .monthly-card{
    background-color: rgb(7 49 190);
  } 

 
  .phase-p{
    font-family: Poppins,sans-serif;
    font-size: 14px; 
  }
  /* .phases-img:hover::after{
    background-color: red;
  } */
  /* .phases-img::before{
    content: "";
    background-image: url( "../../../assets/dotted-circle-left.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    animation: spin 10s infinite linear;
    height: 510px;
    width: 600px;   
    left: 0;
    z-index: -1;
  }   
  .rowreverse::after{
    content: "";
    background-image: url( '../../../assets/dotted-circle-right.png');
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    animation: spin 10s infinite linear;
    height: 510px;
    width: 600px;  
    right: 0;
    z-index: -1;
  } */
  .phase-heading{ 
    font-size: 150px;
    padding-right: 15px;
    font-weight: 400;
    color: white;
    -webkit-text-stroke: 1px #1d73f8;
  }
  .phase-about{
    font-size: 17px !important; 
    font-weight: 600;
  }
  .phase-para{
    font-size: 14px !important;
    display: block;
    font-size: 14px;
    letter-spacing: 0.1rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

  } 

  /*Brand- Collaborate*/ 
  .card-contents {
    display: block; 
} 
.change-contents {
    display: none;
}
.brand-card:hover .card-contents {
    display: none;
}
.brand-card:hover .change-contents {
    display: block;
}
.brand-card {
    box-shadow: 0px 0px 3px 0px darkslategrey;
    background-color: #FFF;
}
.brand-card:hover {
    background-color: rgb(3, 45, 226);
    color: #FFF;
    translate: -10px -20px;
    transform: scale(1.1); 
    transition: 1s;
}
.img-block{ 
    width: 100%;
    height: 120px; 
}

p{
    letter-spacing: .6px;
    word-spacing: 1.5px;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    line-height: 1.8;
    font-size: 15px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 10px!important;
    
}


