.bussiness-headings{
    font-family: sans-serif;
    color: rgb(41, 41, 211);
}
.bussiness-para{
    font-family: sans-serif;
    font-size: 14px;
    word-spacing: 1px;
    letter-spacing: 1px;
    opacity: 0.7;
}
.bussiness-card{
border: none;
}
.bussiness{
    background-color: rgb(245 245 245);
}
.bussiness-title{
font-family: sans-serif;
font-size: 26px;
}